<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">../logs</Property>
	</Properties>

	<Appenders>
		<!-- the standard-console-appender -->
		<Console name="appender-Console-all" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{%d{HH:mm:ss.SSS} %-5level [%C{1}.%M:%L] - %msg%n%throwable}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}" />
		</Console>
		

		<RollingFile name="RollingFile" fileName="logs/logging.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%highlight{%d{HH:mm:ss.SSS} %-5level [%C{1}.%M:%L] - %msg%n%throwable}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<logger name="org.hibernate" level="OFF" />
		<Root level="error">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="appender-Console-all" />
		</Root>
	</Loggers>

</Configuration>